/* CUERPO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color:wheat;}

h1 {
  margin: 30px;
  font-weight: bold;
  font-size: 2em;
  color: black;
  text-align: center;
}

h2 {
  margin: 30px;
}

h4 {
  color: white;
  margin-left: 10px;
  width: 50%;
  background-color: darkslategray;
  font-size: 1.5em;
  font-weight: bold; }

a{
  text-decoration:none;
}

/* CABECERA */

#pag-titulo{
  cursor: pointer;
}

#logo-pelota{
  width: 50px;
  margin-bottom: 50px;
}

.contenido-cabecera {
  margin: 50px;
  display: flex;
}

.crear{
  display:flex;
 
}

.table-total{
    width: 150px;
    margin-left: 600px;
    position: fixed;}

#contenido-total{
    text-align: center;
    width: 150px;
  }

.seleccionBox table {
    font-weight: bolder; }

   
table, th, td {
      border: 1px solid black;
}

.tabla-jug {
  width: 50px; }


.tabla-tit-total {
    text-align: center;
    width: 150px;
 }

#inputName{
  margin-bottom: 10px;
  width: 220px;
}

#boxNombreEquipo{
  width: 220px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;   
  color: white;
  background-color: #212529;
}

/* IMAGEN PORTADA */
#img-portada{
  width: 70%;
  display: block;
  margin: auto;
}

/* IMAGEN PLAYER */
.arquero{
  font-size: 30px;
  position: relative;
  bottom: 320px;
  left: 225px;
  z-index: 1;
}

#arquero,
#defensor1,
#defensor2,
#defensor3,
#defensor4,
#volante1,
#volante2,
#volante3,
#volante4,
#delantero1,
#delantero2{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.defensor1{
  font-size: 30px;
  position: relative;
  bottom: 200px;
  left: 500px;
  z-index: 1;
}
.defensor2{
  font-size: 30px;
  position: relative;
  bottom: 400px;
  left: 400px;
  z-index: 1;
}
.defensor3{
  font-size: 30px;
  position: relative;
  bottom: 680px;
  left: 400px;
  z-index: 1;
}
.defensor4{
  font-size: 30px;
  position: relative;
  bottom: 850px;
  left: 500px;
  z-index: 1;
}
.volante1{
  font-size: 30px;
  position: relative;
  bottom: 600px;
  left: 700px;
  z-index: 1;
}
.volante2{
  font-size: 30px;
  position: relative;
  bottom: 820px;
  left: 550px;
  z-index: 1;
}
.volante3{
  font-size: 30px;
  position: relative;
  bottom: 1020px;
  left: 700px;
  z-index: 1;
}
.volante4{
  font-size: 30px;
  position: relative;
  bottom: 980px;
  left: 800px;
  z-index: 1;
}
.delantero1{
  font-size: 30px;
  position: relative;
  bottom: 980px;
  left: 920px;
  z-index: 1;
}
.delantero2{
  font-size: 30px;
  position: relative;
  bottom: 1220px;
  left: 920px;
  z-index: 1;
}

/* REGLAS */

.reglas{
  margin-top: 20px;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  width: 40%;
  padding-top: 10px;
  padding-left: 20px;
}

/* AVISOS */

#retorno-aviso1,
#retorno-aviso2,
#retorno-aviso3,
#retorno-aviso4,
#retorno-aviso5{
  color: red;
  margin-left: 400px;
  font-weight: bold;
}

/* BOTON AGREGAR */

.agregar, 
.agregar-tactica{
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
}

.agregar-click{
  background-color: wheat;
  color: black;
}

#btn1{
  font-size: 12px;
  text-align: center;
  margin-left: 20px;
}

#btn1 a{
  color: white;
}

/* TABLA LATERAL DEL EQUIPO  */

.tabla-tit-pos {
  width: 10px; }

.tabla-tit-jug {
   width: 210px; }

.tabla-tit-club {
  width: 150px; }

.tabla-tit-valor {
  width: 110px; }

.seleccionBox .contenido-tabla {
  position: relative;
  top: 280px;
  right: 10px;
  position: fixed;
}



/* TACHITO */

.borrarItem img{
  width: 15px;
}

/* CUADROS DE EQUIPOS */

.tabla-tit-add{
  width: 20px;
}

.table-jugadores {
  cursor: pointer; 
  width: 560px;
  background-color: rgba(128, 128, 128, 0.1);
  color: black;
  margin: 20px 20px; 
}

.escudos{
  width: 70px;
}

.seccion-equipos-tit{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.seleccionBox {
  margin-left: 10px;
  margin-top: 50px;
  padding: 5px;
  width: 630px; 
}

.seleccionBox select {
  width: 240px;
  height: 30px;
  border: 3px solid grey;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #333; }

.seccion-equipos{
  margin-top: 20px;
  border: 1px solid black;
  background-color: darkslategray;
}

.cross{
  text-decoration: line-through;
}

/* POPUP */

/* Modal Content */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  top: 250px;
  margin: auto;
  border: 5px solid wheat;
  width: 30%;
}

.close {
  font-size: 16px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: darkslategray;
  color: white;
  padding: 5px;
  height: 120px;
  display:inline-block;
  text-align: center;

}

/* SPINNER */
.spinner{
  color: white;
  font-weight: bolder;
  position: relative;
  top: 360px;
  text-align: center;
  z-index: 1;
}

.logoSpin{
  width: 50px;
  height: 50px;
}

.spin2{
  color: black;
}




